<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a26144859.appexemplo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Calc_Volume" />
        <activity android:name=".PesoIdeal" />
        <activity android:name=".Main2Activity_CalcLigacao" />
        <activity android:name=".GastoViagem" />
        <activity android:name=".GastoViagem2" />
        android {
        buildTypes {
        debug {
        debuggable true
        }
        <activity android:name=".CalcPesoPlaneta" />
    </application>

</manifest>